<h2>Educational Attainment:</h2>
	<table border="4" width="1000">
	<tr>
		<th>School</th>
		<th>Location of School</th>
		<th>School level</th>
		<th>Year of Passing</th>
	</tr>
	<tr>
		<th>Bulacus Elementary School</th>
		<th>Masantol, Pampanga</th>
		<th>Elementary</th>
		<th>2002=2010</th>
	</tr>	
	<tr>
		<th>San Miguel Academy</th>
		<th>Masantol, Pampanga</th>
		<th>High School</th>
		<th>2010-2014</th>
	</tr>
	<tr>
		<th>iLead Institute for Learning</th>
		<th>Angeles, Pampanga</th>
		<th>Vocational Course Barista</th>
		<th>2017-2018</th>
	</tr>
	<tr>
		<th>Holy Angel University</th>
		<th>Angeles, Pampanga</th>
		<th>College</th>
		<th>2018-Present</th>
	</tr>
	</table><hr>

	<!--Kenn Chester C. Ducut WD-302 -->